body {
    background: url('pictures/background.jpeg') repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
input {
    width: 30px;
    text-transform: uppercase;
}
#wordle {
    background-color: rgba(0, 0, 0, 0.8); /* Opaque black background */
    border: 5px solid black; /* Gray border */
    border-radius: 10px; /* Rounded corners */
    padding: 20px;
}
#word-container {
    background-color: rgba(0, 0, 0, 0.7); /* Opaque black background */
    border: 1px solid gray; /* Gray border */
    border-radius: 10px; /* Rounded corners */
    padding: 20px;
    color:white
}