h1 {
    text-align: center;
   }

body {
    background: url('pictures/background.jpeg') repeat;
     margin:0rem;

}
   
   #game-board {
     display: flex;
     align-items: center;
     flex-direction: column;
   }
   
   .letter-box {
     background-color: white;
     border: 2px solid gray;
     border-radius: 3px;
     margin: 2px;
     font-size: 2.5rem;
     font-weight: 700;
     height: 3rem;
     width: 3rem;
     display: flex;
     justify-content: center;
     align-items: center;
     text-transform: uppercase;
   }
   
   .filled-box {
     border: 2px solid black;
   }
   
   .letter-row {
     display: flex;
   }
   
   #keyboard-cont {
     position: fixed; /* Fixed positioning */
     bottom: 0;
     margin: 0rem;
     margin-top: 2rem;
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 100vw;
     touch-action: manipulation;
   }
   
   

   #keyboard-cont div {
    display: flex;
    width: 100vw;
  }
  
  .keyboard-button {
    flex: 1; /* Distribute available space equally among buttons */
    box-sizing: border-box; /* Include padding and border in the total width */
    border-width: 0.1rem;
    border-color: black;
    border-style: solid;
    font-size: 1.5rem;
    font-weight: 700;
    color: black;
    background-color: white;
    padding: 0rem;
    padding-bottom: 0.9rem;
    padding-top:0.9rem;
    margin: 0.0rem; /* Adjust margin for spacing between buttons */
    cursor: pointer;
    text-transform: uppercase;
  }

  .jump-button {
    font-size: 1rem;
    color: white;
    font-weight: 600;
    background-color: #00873E;
    /* Add more styles as needed */
}

  #greetings {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .text {
    box-sizing: border-box;
    width: 300px;
    background-color: white;
    border-radius: 0.5rem;
    padding:0.5rem
  }

  #riddle {
    box-sizing: border-box;
    width: 300px;
    background-color: white;
    border-radius: 0.5rem;
    padding:0.5rem;

    margin-top:1rem;
  }
  