h1 {
    text-align: center;
   }

body {
    background: url('pictures/background.jpeg') repeat;
}
   
   #game-board {
     display: flex;
     align-items: center;
     flex-direction: column;
   }
   
   .letter-box {
     background-color: white;
     border: 2px solid gray;
     border-radius: 3px;
     margin: 2px;
     font-size: 2.5rem;
     font-weight: 700;
     height: 3rem;
     width: 3rem;
     display: flex;
     justify-content: center;
     align-items: center;
     text-transform: uppercase;
   }
   
   .filled-box {
     border: 2px solid black;
   }
   
   .letter-row {
     display: flex;
   }
   
   #keyboard-cont {
     margin: 0rem 0;
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 100%;
   }
   
   

   #keyboard-cont div {
    display: flex;
    width: 100%;
  }
  
  .keyboard-button {
    flex: 1; /* Distribute available space equally among buttons */
    box-sizing: border-box; /* Include padding and border in the total width */
    font-size: 1.7rem;
    font-weight: 700;
    padding: 0.1rem;
    padding-bottom: 0.5rem;
    padding-top:0.5rem;
    margin: 0.05rem; /* Adjust margin for spacing between buttons */
    cursor: pointer;
    text-transform: uppercase;
  }
  